version: '3.8'
services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: fas_db
      MYSQL_USER: fas_user
      MYSQL_PASSWORD: StrongPassword123!
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: ./backend
    command: flask run --host=0.0.0.0 --port=5000
    env_file: ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    depends_on:
      - mysql

volumes:
  db_data: